<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">
</head>
<body>

    <div id="fullbody">
        <div id="bodytext">
            <!-- HEADING -->
            <header class='headerimage'>
                <p class='headerimage-intro'>Hi I'm</p>
                <h1 class='headerimage-heading'>Eli!</h1>
            </header>
            <!-- BODY -->
            <section class="aboutme-section">
                <h1>About Me</h1>
                <p>Hello! I'm Patrick "Eli" Schwarz, a dynamic professional with a passion for pioneering innovative programs and leveraging my diverse skill set to drive success. With a background in Accounting and International Business, I bring a unique blend of expertise to the table.</p>
            </section>
            <section class="whoami-section">
                <h1>Who am I?</h1>
                <p>I am a results-driven individual with a proven track record in digital commerce and software engineering. With experience in managing high-impact initiatives and collaborating with major clients such as Centene and Aetna, I thrive in fast-paced environments where attention to detail and strategic thinking are paramount.</p>
            </section>
            <section class="whatdoido-section">
                <h1>What do I do?</h1>
                <p>In my previous role at G2 Web Services LLC, I spearheaded the "Google Health Insurance Providers Certification" program, managing 80% of the workload and contributing to an annual project revenue of around $500,000. My responsibilities included processing payments, overseeing daily applications, and ensuring compliance with local and federal laws. Additionally, I played a key role in expanding the G2 Financial Services Verification program, conducting extensive research and building compliance checks from scratch to support international operations.</p>
                <p>Recently, I completed the Coding Dojo Software Engineering Bootcamp, where I honed my skills in JavaScript, Python, MySQL, HTML/CSS, and Java. This immersive experience equipped me with the knowledge and experience of full-stack development, enabling me to tackle complex coding challenges with a strategic and collaborative approach.</p>
            </section>
            <section class="whydoidoit-section">
                <h1>Why do I do it?</h1>
                <p>I am driven by a desire to continuously learn and grow, both personally and professionally. My commitment to excellence is reflected in my academic achievements, including receiving the Outstanding International Business Major Award from the Walker College of Business at Appalachian State University. I am passionate about leveraging my skills and experiences to contribute to the success and innovation of forward-thinking organizations like yours.</p>
                <p>Thank you for taking the time to learn more about me. I am excited about the opportunity to discuss how my background and expertise can align with the needs of your organization. Let's connect and explore how we can work together to achieve great things!</p>
            </section>
            <!-- FOOTER -->
            <footer class="content-footer">
                <p>Say hi to me on these social networks:</p>
                <ul class="social">
                    <li><a class="css-is-deranged" href="_INSERT_GITHUB_URL_HERE_">GitHub</a></li>
                    <li><a class="css-is-deranged" href="_INSERT_TWITTER_URL_HERE_">Twitter</a></li>
                    <li><a class="css-is-deranged" href="_INSERT_GOOGLE+_URL_HERE_">Google+</a></li>
                </ul>
                <a href="/" id="returnbutton">Return</a>
            </footer>
        </div>
    </div>

</body>
</html>