<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar_signed_in.css') }}">
</head>
<body>
<body>
    <h1 id="month-header"></h1>
    <button id="prev-month">Previous Month</button>
    <button id="next-month">Next Month</button>
    <div id="calendar">
        <!-- Render events -->
        {% for event in events %}
            <div class="event" data-day="{{ event.calendar_date.day }}">{{ event.name }}</div>
        {% endfor %}
    </div>
    
    {% if not session['uuid'] %}
    <p>Please create an account or log in to make any changes to my calendar.</p>
    <form action="/users/login">
        <button type="submit">Login/Register</button>
    </form>
    {% else %}
    <div id="buttondiv">
        <form id="calendar_logout" action="/users/logout" method="post">
            <button type="submit">Log Out</button>
        </form>
        <form id="create_event_button" action="/calendar/add_event">
            <button type="submit">Create Event</button>
        </form>
    </div>
    {% endif %}

    <!-- FOOTER -->
    <footer class="content-footer">
        <p>Say hi to me on these social networks:</p>
        <ul class="social">
            <li><a class="css-is-deranged" href="_INSERT_GITHUB_URL_HERE_">GitHub</a></li>
            <li><a class="css-is-deranged" href="_INSERT_TWITTER_URL_HERE_">Twitter</a></li>
            <li><a class="css-is-deranged" href="_INSERT_GOOGLE+_URL_HERE_">Google+</a></li>
        </ul>
        <a href="/" id="returnbutton">Return</a>
    </footer>
    <script src="{{ url_for('static', filename='js/calendar_signed_in.js') }}"></script>
</body>
</html>
