<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
</head>
<body>
    
    <div>
        <div id="header_div">
        </div>
        <div id="body_div">
            <div>
                <h2>Login</h2>
                <form action="/users/login/process" method="post">
                    <div>
                        <label for="email">Email: </label>
                        <input type="text" name="email" id="email">
                        {% for message in get_flashed_messages(category_filter=['err_users_email_login']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password">
                        {% for message in get_flashed_messages(category_filter=['err_users_password_login']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <button>Login</button>
                </form>
            </div>

            <div>
                <h2>Register</h2>
                <form action="/users/register/process" method="post"">
                    <div>
                        <label for="first_name">First Name: </label>
                        <input type="text" name="first_name" id="first_name">
                        {% for message in get_flashed_messages(category_filter=['err_users_first_name']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="last_name">Last Name: </label>
                        <input type="text" name="last_name" id="last_name">
                        {% for message in get_flashed_messages(category_filter=['err_users_last_name']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username">
                        {% for message in get_flashed_messages(category_filter=['err_users_username']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="text" name="email" id="email">
                        {% for message in get_flashed_messages(category_filter=['err_users_email']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password">
                        {% for message in get_flashed_messages(category_filter=['err_users_password']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="confirm_password">Confirm Password: </label>
                        <input type="password" name="confirm_password" id="confirm_password">
                        {% for message in get_flashed_messages(category_filter=['err_users_confirm_password']) %}
                        <p class="err-msg">{{message}}</p>
                        {% endfor %}
                    </div>
                    <button>Register</button>
                </form>
            </div>
        </div>
        <div id="footer_div">
        </div>
    </div>
</body>
</html>